{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.4.0-web/css/all.min.css' %}">
</head>
<body>
    <div class="phone">
        <div class="brend"><p>Phone:  <span>+1 234 5678 9101</span></p></div>
        <div class="brend1"><p>Email: <span>info@yourdomain.com</span></p></div>
        <div class="icons">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>
    <header id="nav">
        <nav class="navbar">
            <div class="logo">Create<span>.</span></div>
            <div class="navigation">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Work</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Block</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="asosiy">
            <h1>We Love To Build Web Apps|</h1>
            <p>Free Web Template by Colorlib</p>
            <button type="submit">Watch video</button>
        </div>
    </header>
    <br class="clear">
    <section id="section">
        <div class="block">
            <h2>Innovate</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
            <ul>
                <li><a href="#"><i class="fa-solid fa-check" style="color: #06f5f9;"></i></a> Customer Experience</li><br>
                <li><a href="#"><i class="fa-solid fa-check" style="color: #06f5f9;"></i></a> Product Management</li><br>
                <li><a href="#"><i class="fa-solid fa-check" style="color: #06f5f9;"></i></a> Proof of Concept</li><br>
            </ul>
        </div>
        <div class="block">
            <h2>Create</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
            <ul>
                <li><a href="#"><i class="fa-solid fa-check" style="color: #06f5f9;"></i></a> Web Design</li><br>
                <li><a href="#"><i class="fa-solid fa-check" style="color: #06f5f9;"></i></a> Branding</li><br>
                <li><a href="#"><i class="fa-solid fa-check" style="color: #06f5f9;"></i></a> Web & App Development</li><br>
            </ul>
        </div>
        <div class="block">
            <h2>Scale</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
            <ul>
                <li><a href="#"><i class="fa-solid fa-check" style="color: #06f5f9;"></i></a> Social Media</li><br>
                <li><a href="#"><i class="fa-solid fa-check" style="color: #06f5f9;"></i></a> Paid Campaigns</li><br>
                <li><a href="#"><i class="fa-solid fa-check" style="color: #06f5f9;"></i></a> PMarketing & SEO</li><br>
            </ul>
        </div>
    </section>
    <br class="clear">
    <section id="section2">
        <div class="our">
            <h2>Our works</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, itaque neque, delectus odio iure explicabo.</p>
        </div>
        <div class="images">
            <img src="https://preview.colorlib.com/theme/create/images/img_1.jpg" alt="">
            <div class="image_hover">
                <h4>Banzai tree</h4>
                <p>WEB APPLICATION</p>
            </div>
        </div>
        <div class="images">
            <img src="https://preview.colorlib.com/theme/create/images/img_2.jpg" alt="">
            <div class="image_hover">
                <h4>Simple Woman</h4>
                <p>BRANDING</p>
            </div>
        </div>
        <div class="images">
            <img src="https://preview.colorlib.com/theme/create/images/img_3.jpg" alt="">
            <div class="image_hover">
                <h4>fruits</h4>
                <p>WEB SITE</p>
            </div>
        </div>
        <div class="images">
            <img src="https://preview.colorlib.com/theme/create/images/img_4.jpg" alt="">
            <div class="image_hover">
                <h4>Design Material</h4>
                <p>WEB APLICATION</p>
            </div>
        </div>
        <div class="images">
            <img src="https://preview.colorlib.com/theme/create/images/img_5.jpg" alt="">
            <div class="image_hover">
                <h4>Handy Food</h4>
                <p>BRANDING</p>
            </div>
        </div>
        <div class="images">
            <img src="https://preview.colorlib.com/theme/create/images/img_6.jpg" alt="">
            <div class="image_hover">
                <h4>Cat With Cup</h4>
                <p>WEB SITE</p>
            </div>
        </div>
    </section>
    <br class="clear">
    <section id="strategy">
        <div class="umumiy">
            <div class="items_all">
                <img src="https://preview.colorlib.com/theme/create/images/about_1.jpg" alt="Images">
            </div>
            <div class="items_1">
                <div class="item">
                    <h3><a href="#"><i class="fa-solid fa-umbrella"></i></a>strategy</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p><br>
                    <a href="#">Read More</a>
                </div>
                <div class="item">
                    <a href="#"></a>
                    <h3><a href="#"><i class="fa-solid fa-paint-roller"></i></a> strategy</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p><br>
                    <a href="#">Read More</a>
                </div>
                <div class="item">
                    <a href="#"></a>
                    <h3><a href="#"><i class="fa-solid fa-key"></i></a> strategy</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p><br>
                    <a href="#">Read More</a>
                </div>
                <div class="item">
                    <a href="#"></a>
                    <h3><a href="#"><i class="fa-solid fa-comments"></i></a> strategy</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p><br>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <section class="qism">
        <div>
            <h1 class="test">Testimonials</h1>
            <p class="per">"Lorem ipsum dolor sit amet consectetur adipisicing elit Velit nobis  vero ducimus qui illo quo <br> recusandae suscipit, voluptatum, consequatur ratione doloremque aliquam dolor quos Harum <br> cumque facere perspiciatis velit quis" Lorem  ipsum dolor sit amet consectetur, adipisicing elit <br> Quisquam, eos Lorem, ipsum dolor.</p>
        </div>
        <br>
        <div>
            <p class="odam"><img class="qatnash" src="https://preview.colorlib.com/theme/create/images/person_3.jpg" alt="erkak">John Smith</p>
        </div>
        <br>
        <div class="icon45">
            <a href="#"><i class="fa-solid fa-circle" style="color: #06f5f9;"></i></a>
            <a href="#"><i class="fa-solid fa-circle" style="color: #dee3e3;"></i></a>
            <a href="#"><i class="fa-solid fa-circle" style="color: #dee3e3;"></i></a>
            <a href="#"><i class="fa-solid fa-circle" style="color: #dee3e3;"></i></a>
        </div>
    </section>
    <section class="qism">
        <div class="Our">
            <h2>Our Services</h2>
        </div>
        <div class="wit">
            <a href="#"></a>
            <h3><a href="#"><i class="fa-solid fa-laptop" wi style="color: #00fffb;"></i></a> Web Design</h3>
            <p>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. <br> Perferendis quis molestiae vitae <br> eligendi at.</p><br>
            <a class="learn" href="#">Learn More</a>
        </div>
        <div class="wit">
            <h3><a href="#"><i class="fa-solid fa-cart-shopping" style="color: #00fae9;"></i></a> Web Design</h3>
            <p>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. <br> Perferendis quis molestiae vitae <br> eligendi at.</p><br>
            <a class="learn" href="#">Learn More</a>
        </div>
        <div class="wit">
            <h3><a href="#"><i class="fa-regular fa-comments" style="color: #00fffb;"></i></a> Web Design</h3>
            <p>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. <br> Perferendis quis molestiae vitae <br> eligendi at.</p><br>
            <a class="learn" href="#">Learn More</a>
        </div>
        <div class="wit">
            <h3><a href="#"><i class="fa-solid fa-paint-roller" style="color: #00fffb;"></i></a> Web Design</h3>
            <p>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. <br> Perferendis quis molestiae vitae <br> eligendi at.</p><br>
            <a class="learn" href="#">Learn More</a>
        </div>
        <div class="wit">
            <h3><a href="#"><i class="fa-solid fa-puzzle-piece"></i></a> Web Design</h3>
            <p>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. <br> Perferendis quis molestiae vitae <br> eligendi at.</p><br>
            <a class="learn" href="#">Learn More</a>
        </div>
        <div class="wit">
            <h3><a href="#"><i class="fa-solid fa-comments" style="color: #00eeff;"></i></a> Web Design</h3>
            <p>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. <br> Perferendis quis molestiae vitae <br> eligendi at.</p><br>
            <a class="learn" href="#">Learn More</a>
        </div>
    </section>

    <section class="qis1">
        <div class="gap">
            <h1 class="dag">About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
                Eveniet incidunt magnam corrupti, odit eos harum quaerat <br>
                nostrum voluptatibus aspernatur eligendi accusantium cum,<br> 
                impedit blanditiis voluptate commodi doloribus, nemo <br>
                dignissimos recusandae.</p>
            </div>
    </section>
    <div class="wit202">
        <a href="#"></a>
        <h3><a href="#"><i class="fa-solid fa-laptop" wi style="color: grey;"></i></a> Web Design</h3>
        <p>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. <br> Perferendis quis molestiae vitae <br> eligendi at.</p><br>
        <a class="learn" href="#">Learn More</a>
    </div>
    <div class="wit202">
        <h3><a href="#"><i class="fa-solid fa-puzzle-piece" style="color: grey;"></i></a> Web Design</h3>
        <p>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. <br> Perferendis quis molestiae vitae <br> eligendi at.</p><br>
        <a class="learn" href="#">Learn More</a>
    </div>

    <div class="wit101">
        <img src="https://preview.colorlib.com/theme/create/images/about_1.jpg" alt="rasm">
    </div>
    <div class="wit97">
        <h4>Our Team</h4>
    </div>
    <div class="wit30">
        <img src="https://preview.colorlib.com/theme/create/images/person_2.jpg" alt="rasm">
        <div class="wit98">
        <h2>John Rooster</h2>
    </div>
    <div class="wit28">
        <img src="https://preview.colorlib.com/theme/create/images/person_3.jpg" alt="rasm">
        <div class="wit99">
        <h2>Tom Sharp</h2>
        </div>
        <div class="wit29">
        <img src="https://preview.colorlib.com/theme/create/images/person_4.jpg" alt="rasm">
        <div class="wit100">
        <h2>Winston Hodson</h2>
        </div>
        <div class="wit151">
            <p>CO-FOUNDER, PRESIDENT</p>
        </div>
        <div class="wit152">
            <p>CO-FOUNDER, COO</p>
        </div>
        <div class="wit153">
            <p>MARKETTING</p>
        </div>
    
<div class="mb-4">
    <p>Lorem ipsum dolor, sit amet consectetur<br>
         adipisicing elit. Consequatur asperiores<br>
          delectus nisi error, debitis, consequuntur<br>
           distinctio recusandae ducimus vel quod<br> 
           maiores ut, atque id dolores amet at? Ut,<br>
            eligendi quaerat.</p>
            <a href="#"><i class="fa-brands fa-facebook" style="color: #b8b8b8;"></i></a>
            <a href="#"><i class="fa-brands fa-twitter" style="color: #b8b8b8;"></i></a>
            <a href="#"><i class="fa-brands fa-telegram" style="color: #adadad;"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram" style="color: #ababab;"></i></a>
        </div>
        <div class="mb-5">
            <p>Lorem ipsum dolor, sit amet consectetur<br>
                adipisicing elit. Consequatur asperiores<br>
                 delectus nisi error, debitis, consequuntur<br>
                  distinctio recusandae ducimus vel quod<br> 
                  maiores ut, atque id dolores amet at? Ut,<br>
                   eligendi quaerat.</p>
                   <a href="#"><i class="fa-brands fa-facebook" style="color: #b8b8b8;"></i></a>
                   <a href="#"><i class="fa-brands fa-twitter" style="color: #b8b8b8;"></i></a>
                   <a href="#"><i class="fa-brands fa-telegram" style="color: #adadad;"></i></a>
                   <a href="#"><i class="fa-brands fa-square-instagram" style="color: #ababab;"></i></a>
                </div>
                <div class="mb-6">
                    <p>Lorem ipsum dolor, sit amet consectetur<br>
                        adipisicing elit. Consequatur asperiores<br>
                         delectus nisi error, debitis, consequuntur<br>
                          distinctio recusandae ducimus vel quod<br> 
                          maiores ut, atque id dolores amet at? Ut,<br>
                           eligendi quaerat.</p>
                           <a href="#"><i class="fa-brands fa-facebook" style="color: #b8b8b8;"></i></a>
                           <a href="#"><i class="fa-brands fa-twitter" style="color: #b8b8b8;"></i></a>
                           <a href="#"><i class="fa-brands fa-telegram" style="color: #adadad;"></i></a>
                           <a href="#"><i class="fa-brands fa-square-instagram" style="color: #ababab;"></i></a>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                    <div class="wit87">
                        <h1>Blog</h1>
                    </div>
           <div class="main20">
              <img src="https://preview.colorlib.com/theme/create/images/img_1.jpg" alt="rasm">
           </div>
           <div class="main21">
            <img src="https://preview.colorlib.com/theme/create/images/img_2.jpg" alt="rasm">
         </div>
         <div class="main22">
            <img src="https://preview.colorlib.com/theme/create/images/img_3.jpg" alt="rasm">
         </div>
         <div class="wit12">
            <h1>Create Beautiful Website In Less Than An Hour</h1>
         </div>
         <div class="wit13">
            <h1>Create Beautiful Website In Less Than An Hour</h1>
         </div>
         <div class="wit14">
            <h1>Create Beautiful Website In Less Than An Hour</h1>
         </div>
         <div class="hr18">
            <p>Ham Brook • Jan 18, 2019•</p>
         </div>
         <div class="hr19">
            <p>Ham Brook • Jan 18, 2019•</p>
         </div>
         <div class="hr20">
            <p>Ham Brook • Jan 18, 2019•</p>
         </div>
         <div class="hr550">
            <p>New</p>
         </div>
         <div class="hr551">
            <p>New</p>
         </div>
         <div class="hr552">
            <p>New</p>
         </div>
         <div class="br18">
            <p>Lorem ipsum dolor sit amet consectetur<br>
                 adipisicing elit. Natus eligendi nobis ea<br>
                maiores sapiente veritatis reprehenderit suscipia<br> 
                quaerat rerum voluptatibus a eius.</p>
         </div>
         <div class="br19">
            <p>Lorem ipsum dolor sit amet consectetur<br>
                 adipisicing elit. Natus eligendi nobis ea<br>
                maiores sapiente veritatis reprehenderit suscipia<br> 
                quaerat rerum voluptatibus a eius.</p>
         </div>
         <div class="br20">
            <p>Lorem ipsum dolor sit amet consectetur<br>
                 adipisicing elit. Natus eligendi nobis ea<br>
                maiores sapiente veritatis reprehenderit suscipia<br> 
                quaerat rerum voluptatibus a eius.</p>
         </div>
         <div class="br200">
            <p>Continue Reading...</p>
             </div>
             <div class="br201">
                <p>Continue Reading...</p>
                 </div>
                 <div class="br202">
                    <p>Continue Reading...</p>
                     </div>
                     <section id="forma">
                        <h2>Contact Us</h2>
                        <form action="" method="get">
                      <div class=" wit10">
                      <p>Contact Form</p>
                      </div>      
                    <div class="ism">
                        <label for="first">First Name</label><br>
                        <input type="text" id="first" placeholder="" required><br>
                    </div>                    
                    <label for="last">Last Name</label><br>
                    <input type="text" id="last" placeholder="" required><br>
                    <label for="email">Email</label><br>
                    <input type="email" id="email" placeholder="" required><br>
                    <div class="ism">
                        <label for="number">Subject</label><br>
                        <input type="Subject" id="Subject" placeholder=""><br>
                    </div>
                    <div>
                    <label for="text">Message</label><br>
                    <input type="text" id="text" placeholder="Write your notes or questions here... " required><br>
                    </div>
                    <div class="wit1000">
                        <button>Send Message</button>
                    </div> 
                    </section>
                    <div id="forma10">
                        <p><b>Address</b></p>
                    </div>
                </form>
                    <div id="forma11">
                        <p>203 Fake St. Mountain View, San Francisco, California,<br>
                             USA</p>
                    </div>
                    <div id="forma12">
                        <p><b>Phone</b></p>
                    </div>
                    <div id="forma13">
                        <p>+1 232 3235 324</p>
                    </div>
                </div>
                <div id="forma14">
                    <p><b>Email Address</b></p>
                </div>
                <div id="forma15">
                    <p>youremail@domain.com</p>
                </div>
            </div>  
            <footer id="footer_qism">
                <div class="futer_1">
                    <h1>Let's Get Started</h1>
                </div>
                <div class="futer_2">
                    <div class="futer0">
                        <h4>About Us</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
                    </div>
                    <div class="futer0">
                        <h4>Features</h4>
                        <p class="para2">About Us</p>
                        <p class="para2">Services</p>
                        <p class="para2">Testimonials</p>
                        <p class="para2">Contact Us</p>
                    </div>
                    <div class="futer0">
                        <h4>Follow Us</h4>
                        <a href="https://www.facebook.com/profile.php?id=100079610956123" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://twitter.com/shuhratik_007" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://instagram.com/shuhratik_oo7" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://t.me/shuhratik_007" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                    </div>
                    <div class="futer0">
                        <h4>Subscribe Newsletter</h4>
                        <div class="forma">
                            <input class="email" type="email" placeholder="Enter Email"><button class="button_f">Send</button>
                         </div>
                    </div>
                </div>
            </footer>                    
</body>
</html>